$colorOne:#243763;
$colorTwo:#FF6E31;//pics
$colorThree:#AD8E70;
$colorFour:#ffebb7;
$colorFive:rgb(255, 235, 183, 0.4);



.homePage1{
    background-color: $colorFive;
    height:100vh;
}
.homePage{
    background-color: $colorFive;
    height:100%;
}


.searchForm{
    width: 80%;
    display: flex;
    input{
        text-align: center;
        border: transparent;
        color:$colorOne !important;
        background-color: $colorThree;
        width: 60%;
        margin-right: 5%;
        font-family: 'Andika', sans-serif;
        border-radius: 10px;
        -webkit-border-radius:7px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
        &:hover{
            border: 2px solid $colorOne !important;
        }
        &:active{
            border: 0px solid $colorOne !important;
            outline-color: $colorOne;
        }
        &:focus-visible{
            border: 0px solid $colorOne !important;
            outline-color: $colorOne;
        }
    }
    button{
        padding: 8px;
        border: transparent;
        color:$colorOne;
        background-color: $colorThree;
        width: 15%;
        font-family: 'Andika', sans-serif;
        border-radius:7px;
        -webkit-border-radius:7px;
        -moz-border-radius:7px;
        -ms-border-radius:7px;
        -o-border-radius:7px;
        &:hover{
            border: 2px solid $colorOne;
            padding: 6px;
        }
    }
}


.images{
    font-family: 'Andika', sans-serif;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
    .textMsg{
        font-size: 25px;
        margin-top: 50px;
    }
    .imageCard{
        width: 24%;
        padding: 5px;
        background: $colorOne;
        border: 1px solid #fff;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
        img{
            width:100%;
            height: 200px;
            border-radius: 8px;
            -webkit-border-radius: 8px;
            -moz-border-radius: 8px;
            -ms-border-radius: 8px;
            -o-border-radius: 8px;
        }
    }
}

.loveBtn{
    margin-top: 8px;
    font-size: 20px;
    display: inline;
    background-color: transparent;
    color:$colorTwo;
    border: transparent;
    &:hover{
        padding: 0px;
        transform:scale(1.3, 1.3) ;
        -webkit-transform:scale(1.3, 1.3) ;
        -moz-transform:scale(1.3, 1.3) ;
        -ms-transform:scale(1.3, 1.3) ;
        -o-transform:scale(1.3, 1.3) ;
        border: transparent;
    }
}
